<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    
</head>
<body>
    <div>
        <h1>To-Do Application</h1>
    </div>
    <div class="wrapper">
        <div>
            <h2>All To-Do's</h2>
            <div>
                <p id="data-wrap"></p>
            </div>
        </div>
        <div>
            <h2>Add To-Do's</h2>
            <form>
                <input type="text" id="inputData">
                <button>Submit</button>
            </form>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>